<nav id="sidebar">
  <!-- Sidebar Header-->
  <div class="sidebar-header d-flex align-items-center">
    <div class="avatar"></div>
    <div class="title">
      <h1 class="h5">Grat Bodkin</h1>
      <p>Kitty Wizard</p>
    </div>
  </div>
  <!-- Sidebar Navidation Menus--><span class="heading">Main</span>
  <ul class="list-unstyled">
          <li class="active"><a href="index.html"> <i class="icon-home"></i>Home </a></li>
          <li><a href="#accountsDropdown" aria-expanded="false" data-toggle="collapse"> <i class="icon-windows"></i>Accounts</a>
            <ul id="accountsDropdown" class="collapse list-unstyled ">
              <li><a href="#">Page</a></li>
              <li><a href="#">Page</a></li>
              <li><a href="#">Page</a></li>
            </ul>
          </li>
          <li><a href="tables.html"> <i class="icon-grid"></i>Rewards </a></li>
          <li><a href="../charts/charts.html"> <i class="fa fa-bar-chart"></i>Charts </a></li>
          <li><a href="../forms/forms.html"> <i class="icon-padnote"></i>Contract Wizard</a></li>
          <li><a href="../login/login.html"> <i class="icon-logout"></i>Login page </a></li>
  </ul><span class="heading">Extras</span>
  <ul class="list-unstyled">
    <li> <a href="#"> <i class="icon-settings"></i>Demo </a></li>
    <li> <a href="#"> <i class="icon-writing-whiteboard"></i>Demo </a></li>
    <li> <a href="#"> <i class="icon-chart"></i>Demo </a></li>
  </ul>
</nav>
