
	<!-- Start Section -->
	<div class="section section-pad section-bg-alt" id="contact">
		<div class="container">
			<div class="row text-center">
				<div class="col">
					<div class="section-head">
						<h2 class="section-title">Contact ROYALTY REWARDS
							<span>Contact</span>
						</h2>
						<p>Questions? Reach out to us and we’ll get back to you shortly.</p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-8 offset-lg-2">
					<ul class="contact-info">
						<!-- <li><em class="fa fa-phone"></em><span>+44 0123 4567</span></li> -->
						<li><em class="fa fa-envelope"></em><span>info@royaltyrewards.io</span></li>
						<!-- <li><em class="fa fa-paper-plane"></em><span>Join us on Telegram</span></li> -->
					</ul>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-8 offset-lg-2">
					<form id="contact-form" class="form-message text-center" action="form/contact.php" method="post">
						<div class="form-results"></div>
						<div class="input-field">
							<input name="contact-name" type="text" class="input-line required">
							<label class="input-title">Your Name</label>
						</div>
						<div class="input-field">
							<input name="contact-email" type="email" class="input-line required email">
							<label class="input-title">Your Email</label>
						</div>
						<div class="input-field">
							<textarea name="contact-message" class="txtarea input-line required"></textarea>
							<label class="input-title">Your Message</label>
						</div>
						<input type="text" class="d-none" name="form-anti-honeypot" value="">
						<div class="input-field">
							<button type="submit" class="btn">Submit</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<!-- End Section -->


	<!-- Start Section -->
	<div class="section subscribe-section section-pad-md section-bg section-connect">
		<div class="container">
			<div class="row text-center">
				<div class="col-md-6 offset-md-3">
					<h4 class="section-title-md">Don't miss out, Stay updated</h4>
					<form id="subscribe-form" action="form/subscribe.php" method="post" class="subscription-form inline-form">
						<input type="text" name="youremail" class="input-round required email" placeholder="Enter your email address" >
						<input type="text" class="d-none" name="form-anti-honeypot" value="">
						<button type="submit" class="btn btn-plane">Subscribe</button>
						<div class="subscribe-results"></div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<!-- End Section -->
