
	<!-- Start Section -->
	<div class="section section-pad section-bg-btoa" id="apps">
		<div class="container">

			<div class="row text-center">
				<div class="col-md-8 offset-md-2 col-lg-6 offset-lg-3">
					<div class="section-head">
						<div class="heading-animation">
							<span class="line-1"></span><span class="line-2"></span>
							<span class="line-3"></span><span class="line-4"></span>
							<span class="line-5"></span><span class="line-6"></span>
							<span class="line-7"></span><span class="line-8"></span>
						</div>
						<h2 class="section-title">Live Platform Demo
							<span>apps</span>
						</h2>
						<p>Once you’ve entered into our ecosystem, you can mange every thing. Anyone with a smartphone and an internet connection can partici pate in global marketplace.</p>
					</div>
				</div>
			</div>

			<div class="row align-items-center">
				<div class="col-md-6">
					<div class="res-m-btm">
						<img src="images/graph-dark-c.png" alt="graph">
					</div>
				</div><!-- .col  -->

				<div class="col-md-5 offset-md-1">
					<div class="text-block">
						<p>Lorem ipsum dolor sit amet, consectetur adipis cing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exerc itation ullamco laboris nisi commodo consequat. </p>
						<ul>
							<li>Crypto-news curation</li>
							<li>Natural Language Understanding</li>
							<li>Wallet aggregation</li>
							<li>Professional Network</li>
							<li>No more expensive fees</li>
						</ul>
						<ul class="btns">
							<li><a href="#" class="btn btn-sm">GET THE APP NOW</a></li>
							<li>
								<a href="#"><em class="fa fa-apple"></em></a>
								<a href="#"><em class="fa fa-android"></em></a>
								<a href="#"><em class="fa fa-windows"></em></a>
							</li>
						</ul>
					</div>
				</div><!-- .col  -->
			</div><!-- .row  -->

		</div><!-- .container  -->
	</div>
	<!-- Start Section -->
