
	<!-- Start Section -->
	<div class="section section-pad section-bg-btoa" id="apps">
		<div class="container">

			<div class="row text-center">
				<div class="col-md-8 offset-md-2 col-lg-6 offset-lg-3">
					<div class="section-head">
						<div class="heading-animation">
							<span class="line-1"></span><span class="line-2"></span>
							<span class="line-3"></span><span class="line-4"></span>
							<span class="line-5"></span><span class="line-6"></span>
							<span class="line-7"></span><span class="line-8"></span>
						</div>
						<h2 class="section-title">Alpha Platform Access
							<span>Alpha</span>
						</h2>
						<p>Claim your account now and get access to our blockchain platform for free. Try the new <em>Wizard Wallet</em> and give us feedback! </p>
					</div>
				</div>
			</div>

			<div class="row align-items-center">
				<div class="col-md-6">
					<div class="res-m-btm">
						<img src="images/graph-dark-c.png" alt="graph">
					</div>
				</div><!-- .col  -->

				<div class="col-md-5 offset-md-1">
					<div class="text-block">
						<p>Anyone with a Google account can join - your data is managed in accordance with international privacy laws, and is collected only for authentication, verification and fraud-prevention purposes. </p>
						<ul>
							<li>Secure Ethereum wallet</li>
							<li>Easy access from any device</li>
							<li>Professionally audited code</li>
							<li>Curated network</li>
							<li>No extra fees</li>
						</ul>
						<ul class="btns">
							<li><div id="firebaseui-auth-container"></div></li>
							<li>
								<a href="#"><em class="fa fa-chrome"></em></a>
								<a href="#"><em class="fa fa-firefox"></em></a>
								<a href="#"><em class="fa fa-edge"></em></a>
							</li>
						</ul>
					</div>
				</div><!-- .col  -->
			</div><!-- .row  -->

		</div><!-- .container  -->
	</div>
	<!-- Start Section -->
