<div class="section footer-section no-pt section-pad-sm section-bg">
  <div class="container">
    <div class="row text-center">
      <div class="col-md-12">
        <ul class="social">
          <li><a href="#"><em class="fa fa-facebook"></em></a></li>
          <li><a href="#"><em class="fa fa-twitter"></em></a></li>
          <li><a href="#"><em class="fa fa-youtube-play"></em></a></li>
          <li><a href="#"><em class="fa fa-github"></em></a></li>
          <li><a href="#"><em class="fa fa-bitcoin"></em></a></li>
          <li><a href="#"><em class="fa fa-medium"></em></a></li>
        </ul>
        <span class="copyright-text">
          Copyright &copy; 2018, Crown Royalty Rewards
          <span>All trademarks and copyrights belong to their respective owners.</span>
        </span>
      </div>
    </div>
  </div>
</div>
<!-- <script src="assets/js/jquery.bundle.js"></script> -->
<!-- <script src="assets/js/script.js"></script> -->
