<header class="site-header is-sticky">

  <div class="navbar navbar-expand-lg is-transparent" id="mainnav">
    <nav class="container">

      <a class="navbar-brand" href="./">
        <!-- <span class="rr-icon"> -->
        <!-- <img class="logo logo-dark" src="../images/rr-icon.svg"> -->
    <img class="logo logo-dark" src="images/logo.png">
            <img class="logo logo-light"src="images/favicon.png">
      </a>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle">
        <span class="navbar-toggler-icon">
          <span class="ti ti-align-justify"></span>
        </span>
      </button>

      <div class="collapse navbar-collapse justify-content-end" id="navbarToggle">
        <ul class="navbar-nav">
          <li class="nav-item"><a class="nav-link menu-link" href="#tokenSale">Presale</a></li>
          <li class="nav-item"><a class="nav-link menu-link" href="#intro">About<span class="sr-only">(current)</span></a></li>
          <li class="nav-item"><a class="nav-link menu-link" href="#roadmap">Roadmap</a></li>
          <li class="nav-item"><a class="nav-link menu-link" href="#team">Team</a></li>
          <!-- <li class="nav-item"><a class="nav-link menu-link" href="#partners">Partners</a></li> -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">MORE</a>
            <div class="dropdown-menu">
              <!-- <a class="dropdown-item menu-link" href="#media-partner">Media Partners</a> -->
              <a class="dropdown-item menu-link" href="#faq">Faqs</a>
            </div>
          </li>
          <li class="nav-item"><a class="nav-link menu-link" href="#contact">Contact</a></li>
        </ul>
        <ul class="navbar-nav navbar-btns">
          <li class="nav-item"><a class="nav-link btn btn-sm btn-outline menu-link nav-modal" data-toggle="modal" href="#Whitepaper">Whitepaper</a></li>
          <li class="nav-item"><a class="nav-link btn btn-sm btn-outline menu-link" href="#apps">Try App</a></li>
        </ul>
      </div>
    </nav>
  </div>

  <div id="header" class="banner banner-curb banner-particle d-flex align-items-center">
    <div class="container">
      <div class="banner-content">
        <div class="row align-items-center mobile-center">
          <div class="col-lg-6 col-md-12 order-lg-first">
            <div class="header-txt">
              <h1>Milestone based fundraising platform built on the blockchain</h1>
              <p class="lead color-secondary">A Code-Backed Platform to Help Creators and Backers Succeed</p>
              <ul class="btns">
                <li><a href="#apps" class="btn">Sign up to Join</a></li>
                <li><a href="#Whitepaper" class="btn btn-alt">Whitepaper</a></li>
                <li><a href="https://www.youtube.com/watch?v=SSo_EIwHSd4" class="play-btn video-play">
                  <em class="play"><span></span></em>
                  <span>Watch Video</span>
                  <span>What it is and How it works</span>
                </a></li>
              </ul>
              <ul class="social">
                <li><a href="#"><em class="fa fa-facebook"></em></a></li>
                <li><a href="#"><em class="fa fa-twitter"></em></a></li>
                <li><a href="#"><em class="fa fa-youtube-play"></em></a></li>
                <li><a href="#"><em class="fa fa-github"></em></a></li>
                <li><a href="#"><em class="fa fa-bitcoin"></em></a></li>
                <li><a href="#"><em class="fa fa-medium"></em></a></li>
              </ul>
            </div>
          </div><!-- .col  -->
          <div class="col-lg-6 col-md-12 order-first">
            <div class="header-image">
              <img src="images/CRWNRR_Coin2.png">
            </div>
          </div><!-- .col  -->
        </div><!-- .row  -->
      </div><!-- .banner-content  -->
    </div><!-- .container  -->
  </div>
  <!-- End Banner/Slider -->
</header>
