<!-- Start Section -->
<div class="section section-pad no-pb section-bg-alt" id="faq">
  <div class="container">
    <div class="row text-center">
      <div class="col-md-8 offset-md-2 col-lg-6 offset-lg-3">
        <div class="section-head">
          <h2 class="section-title">Frequently asked questions
            <span>FAQS</span>
          </h2>
          <p>Below we’ve provided a bit of ICO, ICO Token, cryptocurrencies, and few others. If you have any other questions, please get in touch using the contact form below.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 offset-sm-0 col-lg-8 offset-lg-2">
        <div class="tab-custom">
          <!-- Nav tabs -->
          <ul class="nav nav-tabs text-center">
            <li class="nav-item">
              <a class="nav-link active" data-toggle="tab" href="#tab-1">General</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#tab-2">Pre-ICO &amp; ICO</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#tab-3">Tokens</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#tab-4">CLIENT</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#tab-5">Legal</a>
            </li>
          </ul>
          <!-- Tab panes -->
          <div class="tab-content">
            <div class="tab-pane fade show active" id="tab-1">
              <div class="accordion" id="accordion-1">
                <div class="card">
                  <div class="card-header">
                    <h5>
                      <a data-toggle="collapse" data-target="#collapse-1-1">
                        What is ICO Crypto?<span class="plus-minus"><span class="ti ti-angle-up"></span></span>
                      </a>
                    </h5>
                  </div>
                  <div id="collapse-1-1" class="collapse show" data-parent="#accordion-1">
                    <div class="card-body">
                      <p>ICO Crypto - is unique platform; that is secure, smart and easy-to-use platform, and completely disrupting the way businesses raise capital.</p>
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-header">
                    <h5>
                      <a class="collapsed" data-toggle="collapse" data-target="#collapse-1-2">
                        What cryptocurrencies can I use to purchase?<span class="plus-minus"><span class="ti ti-angle-up"></span></span>
                      </a>
                    </h5>
                  </div>
                  <div id="collapse-1-2" class="collapse" data-parent="#accordion-1">
                    <div class="card-body">
                      <p>ICO Crypto - is unique platform; that is secure, smart and easy-to-use platform, and completely disrupting the way businesses raise capital.</p>
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-header">
                    <h5>
                      <a class="collapsed" data-toggle="collapse" data-target="#collapse-1-3">
                        How can I participate in the ICO Token sale?<span class="plus-minus"><span class="ti ti-angle-up"></span></span>
                      </a>
                    </h5>
                  </div>
                  <div id="collapse-1-3" class="collapse" data-parent="#accordion-1">
                    <div class="card-body">
                      <p>ICO Crypto - is unique platform; that is secure, smart and easy-to-use platform, and completely disrupting the way businesses raise capital.</p>
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-header">
                    <h5>
                      <a class="collapsed" data-toggle="collapse" data-target="#collapse-1-4">
                        How do I benefit from the ICO Token?<span class="plus-minus"><span class="ti ti-angle-up"></span></span>
                      </a>
                    </h5>
                  </div>
                  <div id="collapse-1-4" class="collapse" data-parent="#accordion-1">
                    <div class="card-body">
                      <p>ICO Crypto - is unique platform; that is secure, smart and easy-to-use platform, and completely disrupting the way businesses raise capital.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div><!-- End tab-pane -->
            <div class="tab-pane fade" id="tab-2">
              <div class="accordion" id="accordion-2">
                <div class="card">
                  <div class="card-header">
                    <h5>
                      <a data-toggle="collapse" data-target="#collapse-2-1">
                        Which of us ever undertakes laborious?<span class="plus-minus"><span class="ti ti-angle-up"></span></span>
                      </a>
                    </h5>
                  </div>
                  <div id="collapse-2-1" class="collapse show" data-parent="#accordion-2">
                    <div class="card-body">
                      <p>ICO Crypto - is unique platform; that is secure, smart and easy-to-use platform, and completely disrupting the way businesses raise capital.</p>
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-header">
                    <h5>
                      <a class="collapsed" data-toggle="collapse" data-target="#collapse-2-2">
                        Who do not know how to pursue rationally?<span class="plus-minus"><span class="ti ti-angle-up"></span></span>
                      </a>
                    </h5>
                  </div>
                  <div id="collapse-2-2" class="collapse" data-parent="#accordion-2">
                    <div class="card-body">
                      <p>ICO Crypto - is unique platform; that is secure, smart and easy-to-use platform, and completely disrupting the way businesses raise capital.</p>
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-header">
                    <h5>
                      <a class="collapsed" data-toggle="collapse" data-target="#collapse-2-4">
                         Their separate existence is a myth?<span class="plus-minus"><span class="ti ti-angle-up"></span></span>
                      </a>
                    </h5>
                  </div>
                  <div id="collapse-2-4" class="collapse" data-parent="#accordion-2">
                    <div class="card-body">
                      <p>ICO Crypto - is unique platform; that is secure, smart and easy-to-use platform, and completely disrupting the way businesses raise capital.</p>
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-header">
                    <h5>
                      <a class="collapsed" data-toggle="collapse" data-target="#collapse-2-3">
                        Pityful a rethoric question ran over her cheek?<span class="plus-minus"><span class="ti ti-angle-up"></span></span>
                      </a>
                    </h5>
                  </div>
                  <div id="collapse-2-3" class="collapse" data-parent="#accordion-2">
                    <div class="card-body">
                      <p>ICO Crypto - is unique platform; that is secure, smart and easy-to-use platform, and completely disrupting the way businesses raise capital.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div><!-- End tab-pane -->
            <div class="tab-pane fade" id="tab-3">
              <div class="accordion" id="accordion-3">
                <div class="card">
                  <div class="card-header">
                    <h5>
                      <a data-toggle="collapse" data-target="#collapse-3-1">
                        When she reached the first hills?<span class="plus-minus"><span class="ti ti-angle-up"></span></span>
                      </a>
                    </h5>
                  </div>
                  <div id="collapse-3-1" class="collapse show" data-parent="#accordion-3">
                    <div class="card-body">
                      <p>ICO Crypto - is unique platform; that is secure, smart and easy-to-use platform, and completely disrupting the way businesses raise capital.</p>
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-header">
                    <h5>
                      <a class="collapsed" data-toggle="collapse" data-target="#collapse-3-2">
                        Big Oxmox advised her not to do?<span class="plus-minus"><span class="ti ti-angle-up"></span></span>
                      </a>
                    </h5>
                  </div>
                  <div id="collapse-3-2" class="collapse" data-parent="#accordion-3">
                    <div class="card-body">
                      <p>ICO Crypto - is unique platform; that is secure, smart and easy-to-use platform, and completely disrupting the way businesses raise capital.</p>
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-header">
                    <h5>
                      <a class="collapsed" data-toggle="collapse" data-target="#collapse-3-3">
                        Which roasted parts of sentences fly into your mouth?<span class="plus-minus"><span class="ti ti-angle-up"></span></span>
                      </a>
                    </h5>
                  </div>
                  <div id="collapse-3-3" class="collapse" data-parent="#accordion-3">
                    <div class="card-body">
                      <p>ICO Crypto - is unique platform; that is secure, smart and easy-to-use platform, and completely disrupting the way businesses raise capital.</p>
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-header">
                    <h5>
                      <a class="collapsed" data-toggle="collapse" data-target="#collapse-3-4">
                        Vokalia and Consonantia, there live?<span class="plus-minus"><span class="ti ti-angle-up"></span></span>
                      </a>
                    </h5>
                  </div>
                  <div id="collapse-3-4" class="collapse" data-parent="#accordion-3">
                    <div class="card-body">
                      <p>ICO Crypto - is unique platform; that is secure, smart and easy-to-use platform, and completely disrupting the way businesses raise capital.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div><!-- End tab-pane -->
            <div class="tab-pane fade" id="tab-4">
              <div class="accordion" id="accordion-4">
                <div class="card">
                  <div class="card-header">
                    <h5>
                      <a data-toggle="collapse" data-target="#collapse-4-1">
                        Who formed us in his own image?<span class="plus-minus"><span class="ti ti-angle-up"></span></span>
                      </a>
                    </h5>
                  </div>
                  <div id="collapse-4-1" class="collapse show" data-parent="#accordion-4">
                    <div class="card-body">
                      <p>ICO Crypto - is unique platform; that is secure, smart and easy-to-use platform, and completely disrupting the way businesses raise capital.</p>
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-header">
                    <h5>
                      <a class="collapsed" data-toggle="collapse" data-target="#collapse-4-2">
                        While the lovely valley teems with vapour?<span class="plus-minus"><span class="ti ti-angle-up"></span></span>
                      </a>
                    </h5>
                  </div>
                  <div id="collapse-4-2" class="collapse" data-parent="#accordion-4">
                    <div class="card-body">
                      <p>ICO Crypto - is unique platform; that is secure, smart and easy-to-use platform, and completely disrupting the way businesses raise capital.</p>
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-header">
                    <h5>
                      <a class="collapsed" data-toggle="collapse" data-target="#collapse-4-3">
                        Which was created for the bliss of souls like mine?<span class="plus-minus"><span class="ti ti-angle-up"></span></span>
                      </a>
                    </h5>
                  </div>
                  <div id="collapse-4-3" class="collapse" data-parent="#accordion-4">
                    <div class="card-body">
                      <p>ICO Crypto - is unique platform; that is secure, smart and easy-to-use platform, and completely disrupting the way businesses raise capital.</p>
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-header">
                    <h5>
                      <a class="collapsed" data-toggle="collapse" data-target="#collapse-4-4">
                        Wonderful serenity has taken of my entire soul?<span class="plus-minus"><span class="ti ti-angle-up"></span></span>
                      </a>
                    </h5>
                  </div>
                  <div id="collapse-4-4" class="collapse" data-parent="#accordion-4">
                    <div class="card-body">
                      <p>ICO Crypto - is unique platform; that is secure, smart and easy-to-use platform, and completely disrupting the way businesses raise capital.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div><!-- End tab-pane -->
            <div class="tab-pane fade" id="tab-5">
              <div class="accordion" id="accordion-5">
                <div class="card">
                  <div class="card-header">
                    <h5>
                      <a data-toggle="collapse" data-target="#collapse-5-1">
                        Illustrated magazine and housed in a nice?<span class="plus-minus"><span class="ti ti-angle-up"></span></span>
                      </a>
                    </h5>
                  </div>
                  <div id="collapse-5-1" class="collapse show" data-parent="#accordion-5">
                    <div class="card-body">
                      <p>ICO Crypto - is unique platform; that is secure, smart and easy-to-use platform, and completely disrupting the way businesses raise capital.</p>
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-header">
                    <h5>
                      <a class="collapsed" data-toggle="collapse" data-target="#collapse-5-2">
                        Samsa was a travelling salesman and above it there?<span class="plus-minus"><span class="ti ti-angle-up"></span></span>
                      </a>
                    </h5>
                  </div>
                  <div id="collapse-5-2" class="collapse" data-parent="#accordion-5">
                    <div class="card-body">
                      <p>ICO Crypto - is unique platform; that is secure, smart and easy-to-use platform, and completely disrupting the way businesses raise capital.</p>
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-header">
                    <h5>
                      <a class="collapsed" data-toggle="collapse" data-target="#collapse-5-3">
                        Slightly domed and divided by arches?<span class="plus-minus"><span class="ti ti-angle-up"></span></span>
                      </a>
                    </h5>
                  </div>
                  <div id="collapse-5-3" class="collapse" data-parent="#accordion-5">
                    <div class="card-body">
                      <p>ICO Crypto - is unique platform; that is secure, smart and easy-to-use platform, and completely disrupting the way businesses raise capital.</p>
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-header">
                    <h5>
                      <a class="collapsed" data-toggle="collapse" data-target="#collapse-5-4">
                        One morning, when Gregor Samsa?<span class="plus-minus"><span class="ti ti-angle-up"></span></span>
                      </a>
                    </h5>
                  </div>
                  <div id="collapse-5-4" class="collapse" data-parent="#accordion-5">
                    <div class="card-body">
                      <p>ICO Crypto - is unique platform; that is secure, smart and easy-to-use platform, and completely disrupting the way businesses raise capital.</p>
                    </div>
                  </div>
                </div>
              </div><!-- End accordion -->
            </div><!-- End tab-pane -->
          </div><!-- End tab-content -->
        </div><!-- End tab-custom -->
      </div><!-- End col -->
    </div><!-- End row -->
  </div><!-- End container -->
</div>
<!-- End Section -->
