<!-- Start Section -->
<div class="section section-pad-sm section-bg" id="roadmap">
  <div class="container">

    <div class="row text-center">
      <div class="col">
        <div class="section-head">
          <h2 class="section-title">Our Roadmap
            <span>RoadMap</span>
          </h2>
        </div>
      </div>
    </div>

    <div class="row roadmap-list align-items-end">
      <div class="col-lg">
        <div class="single-roadmap roadmap-md roadmap-done">
          <h6>January 2018</h6>
          <p>Begin platform development.</p>
        </div>
      </div><!-- .col  -->
      <div class="col-lg width-0">
        <div class="single-roadmap roadmap-down">
          <h6>March 2018</h6>
          <p>Blockchain architecture audit</p>
        </div>
      </div><!-- .col  -->
      <div class="col-lg">
        <div class="single-roadmap roadmap-lg">
          <h6>April 2018</h6>
          <p>Token presale</p>
        </div>
      </div><!-- .col  -->
      <div class="col-lg width-0">
        <div class="single-roadmap roadmap-down">
          <h6>August 2018</h6>
          <p>ICO preparation &amp; Press Tour</p>
        </div>
      </div><!-- .col  -->
      <div class="col-lg">
        <div class="single-roadmap roadmap-sm">
          <h6>October 2018</h6>
          <p>Start Token Sale Round (1)</p>
        </div>
      </div><!-- .col  -->
      <div class="col-lg width-0">
        <div class="single-roadmap roadmap-down">
          <h6>December 2018</h6>
          <p>Partnership for the future EcoSystem</p>
        </div>
      </div><!-- .col  -->
      <div class="col-lg">
        <div class="single-roadmap roadmap-lg">
          <h6>January 2019</h6>
          <p>Our team set-up and commercial preparation</p>
        </div>
      </div><!-- .col  -->
      <div class="col-lg width-0">
        <div class="single-roadmap roadmap-down">
          <h6>May 2019</h6>
          <p>Priority opening for Token holder</p>
        </div>
      </div><!-- .col  -->
      <div class="col-lg">
        <div class="single-roadmap roadmap-sm">
          <h6>June 2019</h6>
          <p>Start Token Sale Round (2)</p>
        </div>
      </div><!-- .col  -->
      <div class="col-lg width-0">
        <div class="single-roadmap roadmap-down">
          <h6>Octorber 2019</h6>
          <p>Blockchain usage announcement for global Network</p>
        </div>
      </div><!-- .col  -->
      <div class="col-lg">
        <div class="single-roadmap roadmap-lg">
          <h6>December 2019</h6>
          <p>Operational Launch United States to general</p>
        </div>
      </div><!-- .col  -->
    </div><!-- .row  -->
  </div><!-- .container  -->
</div>
