<div class="section section-pad section-bg-alt" id="tokenSale">
  <div class="container">

    <div class="row text-center">
      <div class="col-md-8 offset-md-2 col-lg-6 offset-lg-3">
        <div class="section-head">
          <h2 class="section-title">Referral Based pre-sale
            <span>TOKEN</span>
          </h2>
          <p>Join now to be whitelisted for the CRWNRR token presale.</h4>
        </div>
      </div>
    </div>

    <div class="row align-items-center">
      <div class="col-lg-6">
        <div class="row event-info">
          <div class="col-sm-6">
            <div class="event-single-info">
              <h6>Start</h6>
              <p>April 1, 2018 (9:00AM GMT)</p>
            </div>
          </div><!-- .col  -->
          <div class="col-sm-6">
            <div class="event-single-info">
              <h6>Number of tokens for sale</h6>
              <p>8,888,888 CRWN (10%)</p>
            </div>
          </div><!-- .col  -->
          <div class="col-sm-6">
            <div class="event-single-info">
              <h6>End</h6>
              <p>May 1, 2018 (9:00AM GMT)</p>
            </div>
          </div><!-- .col  -->
          <div class="col-sm-6">
            <div class="event-single-info">
              <h6>Tokens exchange rate</h6>
              <p>1 ETH = 800 CRWN</p>
            </div>
          </div><!-- .col  -->
          <div class="col-sm-6">
            <div class="event-single-info">
              <h6>Acceptable currencies</h6>
              <p>ETH</p>
            </div>
          </div><!-- .col  -->
          <div class="col-sm-6">
            <div class="event-single-info">
              <h6>Minimal transaction amount</h6>
              <p>1 ETH</p>
            </div>
          </div><!-- .col  -->
        </div><!-- .row  -->
      </div><!-- .col  -->
      <div class="col-lg-5 offset-lg-1">
        <div class="countdown-box text-center">
          <h3 class="sub-heading">Presale begins:</h3>
          <div class="token-countdown d-flex align-content-stretch" data-date="2018/04/01"></div>
          <div id="firebaseui-auth-container"></div>
          <ul class="icon-list">
            <li><em class="fa fa-ethereum"></em></li>
          </ul>
        </div>
      </div>
    </div><!-- .row  -->

  </div><!-- .container  -->
</div>
