<!-- Start Section -->
<div class="section section-pad no-pb section-bg-alt section-fix" id="team">
  <div class="container">

    <div class="row text-center">
      <div class="col-md-8 offset-md-2 col-lg-6 offset-lg-3">
        <div class="section-head">
          <h2 class="section-title">Core Team
            <span>Team</span>
          </h2>
          <p>We came together to bring this idea to life. Our small team has already accomplished much, and we're excited to do more.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-10 offset-md-1">
        <div class="row text-center">

          <div class="col-lg-4 col-md-6">
            <div class="team-circle">
              <div class="team-photo">
                <img src="images/team/grat.jpg">
                <a href="#team-profile-1" class="expand-trigger content-popup"></a>
              </div>
              <div class="team-info">
                <h5 class="team-name">Grat (Tim) Bodkin</h5>
                <span class="team-title">Lead Developer</span>
              </div>

              <!-- Start .team-profile  -->
              <div id="team-profile-1" class="team-profile mfp-hide">
                <button title="Close" type="button" class="mfp-close">×</button>
                <div class="container-fluid">
                  <div class="row no-mg">
                    <div class="col-md-6">
                      <div class="team-profile-photo">
                        <img src="images/team/grat.jpg">
                      </div>
                    </div><!-- .col  -->

                    <div class="col-md-6">
                      <div class="team-profile-info">
                        <h3 class="name">Grat Bodkin</h3>
                        <p class="sub-title">Lead Developer</p>
                        <p>From the logic on high speed digital hardware, all the time way up to doing web app front ends, Grat (aka Tim) is no stranger to creating simple, scalable solutions.</p>

                        <p>Grat is developing our highly modular, fully tested smart contracts for managing milestones and secure transfers.</p>

                        <p>His past experience includes creating firmware, real-time audio application programming, and hybrid app development.</p>
                      </div>
                    </div><!-- .col  -->

                  </div><!-- .row  -->
                </div><!-- .container  -->
              </div><!-- .team-profile  -->

            </div>
          </div><!-- .col  -->

          <div class="col-lg-4 col-md-6">
            <div class="team-circle">
              <div class="team-photo">
                <img src="images/team/joshua.jpg">
                <a href="#team-profile-6" class="expand-trigger content-popup"></a>
              </div>
              <div class="team-info">
                <h5 class="team-name">Joshua Mezher</h5>
                <span class="team-title">Business Development</span>
              </div>

              <!-- Start .team-profile  -->
              <div id="team-profile-6" class="team-profile mfp-hide">
                <button title="Close" type="button" class="mfp-close">×</button>
                <div class="container-fluid">
                  <div class="row no-mg">

                    <div class="col-md-6">
                      <div class="team-profile-photo">
                        <img src="images/team/joshua.jpg">
                      </div>
                    </div><!-- .col  -->

                    <div class="col-md-6">
                      <div class="team-profile-info">
                        <h3 class="name">Joshua Mezher</h3>
                        <p class="sub-title">Business Development</p>
                        <ul class="tpi-social">
                          <li><a href="#"><em class="fa fa-facebook"></em></a></li>
                          <li><a href="#"><em class="fa fa-twitter"></em></a></li>
                        </ul>
                        <p>Raised in the family microfilm business that moved with technology all the way from the floppy disk and to the CD, Joshua is no stranger to new technologies.</p>
                        <p>Joshua is developing partnerships for the Royalty Rewards Platform to the broad network of startups, creating case uses for Royalty Rewards amongst a network of creators, like himself, and investors.</p>
                        <p>Over the past three years in the Bay Area Joshua has been working alongside many founders of a wide rage of “Bay area startups” lead him to co-create a platform built to increase connection and a thriving marketplace.</p>
                      </div>
                    </div><!-- .col  -->

                  </div><!-- .row  -->
                </div><!-- .container  -->
              </div><!-- .team-profile  -->
            </div>
          </div><!-- .col  -->

          <div class="col-lg-4 col-md-6 offset-md-3 offset-lg-0">
            <div class="team-circle">
              <div class="team-photo">
                <img src="images/team/piers.jpg">
                <a href="#team-profile-7" class="expand-trigger content-popup"></a>
              </div>
              <div class="team-info">
                <h5 class="team-name">Piers Mana </h5>
                <span class="team-title">Systems Architect</span>
              </div>

              <!-- Start .team-profile  -->
              <div id="team-profile-7" class="team-profile mfp-hide">
                <button title="Close" type="button" class="mfp-close">×</button>
                <div class="container-fluid">
                  <div class="row no-mg">

                    <div class="col-md-6">
                      <div class="team-profile-photo">
                        <img src="images/team/piers.jpg">
                      </div>
                    </div><!-- .col  -->

                    <div class="col-md-6">
                      <div class="team-profile-info">
                        <h3 class="name">Piers Mana</h3>
                        <p class="sub-title">Systems Architect</p>
                        <ul class="tpi-social">
                          <li><a href="https://twitter.com/piersmana"><em class="fa fa-twitter"></em></a></li>
                          <li><a href="https://github.com/piersmana"><em class="fa fa-github"></em></a></li>
                        </ul>
                        <p>With an exceptional record of academic & professional achievement, Piers brings over two decades of diverse tech experience to the team.</p>
                        <p>Piers is designing the "middle part" of our solution, a user (and machine) friendly web interface to the blockchain.</p>
                        <p>Past experience in game development, enterprise technology consulting, and data systems.</p>
                      </div>
                    </div><!-- .col  -->

                  </div><!-- .row  -->
                </div><!-- .container  -->
              </div><!-- .team-profile  -->

            </div>
          </div><!-- .col  -->
        </div><!-- .row  -->
      </div><!-- .col  -->
    </div><!-- .row  -->

    <div class="row">
      <div class="col-md-12">
        <div class="gaps size-2x"></div>
        <h3 class="sub-heading ucap">Advisors</h3>
        <div class="gaps size-2x"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-10 offset-md-1">
        <div class="row text-center">

          <div class="col-lg-4 col-md-6">
            <div class="team-circle">
              <div class="team-photo">
                <img src="images/team/daviddrake.jpeg">
                <a href="#team-profile-5" class="expand-trigger content-popup"></a>
              </div>
              <div class="team-info">
                <h5 class="team-name">David Drake</h5>
                <span class="team-title">Board Advisor</span>
              </div>

              <!-- Start .team-profile  -->
              <div id="team-profile-5" class="team-profile mfp-hide">
                <button title="Close" type="button" class="mfp-close">×</button>
                <div class="container-fluid">
                  <div class="row no-mg">
                    <div class="col-md-6">
                      <div class="team-profile-photo">
                        <img src="images/team/joshua.jpg">
                      </div>
                    </div><!-- .col  -->

                    <div class="col-md-6">
                      <div class="team-profile-info">
                        <h3 class="name">David Drake</h3>
                        <p class="sub-title">Board Advisor</p>
                        <ul class="tpi-social">
                          <li><a href="facebook.com/DrakeWealthManagement"><em class="fa fa-facebook"></em></a></li>
                          <li><a href="twitter.com/DavidDrakeVC"><em class="fa fa-twitter"></em></a></li>
                        </ul>
                        <p>David Drake is Founder and Chairman at LDJ Capital, a multi-family office which deals in worldwide funds accessing over several trillion in assets, and maintains over 50+ global directors and family office partners.</p>
                        <p>More recently, Drake is also seen as a leader in cryptocurrency.  He saw the value of digital assets when everyone was avoiding it.  It all started in 2011 when Drake collaborated on the JOBS Act to create new laws underlying all fundraising in the U.S. for all ICOs.  He runs a $200M LDJ Cayman Fund focused on cryptocurrency, mining and ICO acquisitions.  LDJ Capital Credit also offers middle market bridge financing to seed upcoming ICO’s.  Previously he held a majority stake as a Managing Partner with Robert Hambrecht in an Alternative Energy Fund NewCommons Capital 2009-2010.</p>
                        <p>Drake was born in Sweden and is fluent in six languages.  He holds an MBA in Finance and an MA in International Law and Economics from George Washington University in DC where he was awarded the Wallenberg Scholarship for academic merit.</p>
                      </div>
                      </div>
                    </div><!-- .col  -->

                  </div><!-- .row  -->
                </div><!-- .container  -->
              </div><!-- .team-profile  -->

            </div>
          </div><!-- .col  -->

          <div class="col-lg-4 col-md-6">
            <div class="team-circle">
              <div class="team-photo">
                <a href="#team-profile-8" class="expand-trigger content-popup"></a>
              </div>
              <div class="team-info">
                <h5 class="team-name">Julian Paten</h5>
                <span class="team-title">Board Advisor</span>
              </div>

              <!-- Start .team-profile  -->
              <div id="team-profile-8" class="team-profile mfp-hide">
                <button title="Close" type="button" class="mfp-close">×</button>
                <div class="container-fluid">
                  <div class="row no-mg">

                    <div class="col-md-6">
                      <div class="team-profile-photo">
                      </div>
                    </div><!-- .col  -->

                    <div class="col-md-6">
                      <div class="team-profile-info">
                        <h3 class="name">Julian Paten</h3>
                        <p class="sub-title">Board Advisor</p>
                      </div>
                    </div><!-- .col  -->

                  </div><!-- .row  -->
                </div><!-- .container  -->
              </div><!-- .team-profile  -->
            </div>
          </div><!-- .col  -->

          <div class="col-lg-4 col-md-6 offset-md-3 offset-lg-0">
            <div class="team-circle">
              <div class="team-photo">
                <a href="#team-profile-9" class="expand-trigger content-popup"></a>
              </div>
              <div class="team-info">
                <h5 class="team-name">Jaxon Kilburn</h5>
                <span class="team-title">Board Advisor</span>
              </div>

              <!-- Start .team-profile  -->
              <div id="team-profile-9" class="team-profile mfp-hide">
                <button title="Close" type="button" class="mfp-close">×</button>
                <div class="container-fluid">
                  <div class="row no-mg">

                    <div class="col-md-6">
                      <div class="team-profile-photo">
                      </div>
                    </div><!-- .col  -->

                    <div class="col-md-6">
                      <div class="team-profile-info">
                        <h3 class="name">Jaxon Kilburn</h3>
                        <p class="sub-title">Board Advisor</p>
                      </div>
                    </div><!-- .col  -->

                  </div><!-- .row  -->
                </div><!-- .container  -->
              </div><!-- .team-profile  -->

            </div>
          </div><!-- .col  -->
        </div><!-- .row  -->
      </div><!-- .col  -->
    </div><!-- .row  -->
  </div>
</div>
