<!-- Start Section -->
<div class="section section-pad no-pb section-bg-alt section-fix" id="team">
  <div class="container">

    <div class="row text-center">
      <div class="col-md-8 offset-md-2 col-lg-6 offset-lg-3">
        <div class="section-head">
          <h2 class="section-title">Core Team
            <span>Team</span>
          </h2>
          <p>We came together to bring this idea to life. Our small team has already accomplished much, and we're excited to do more.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-10 offset-md-1">
        <div class="row text-center">

          <div class="col-lg-4 col-md-6">
            <div class="team-circle">
              <div class="team-photo">
                <img src="images/team/grat.jpg">
                <a href="#team-profile-1" class="expand-trigger content-popup"></a>
              </div>
              <div class="team-info">
                <h5 class="team-name">Grat (Tim) Bodkin</h5>
                <span class="team-title">Lead Developer</span>
              </div>

              <!-- Start .team-profile  -->
              <div id="team-profile-1" class="team-profile mfp-hide">
                <button title="Close" type="button" class="mfp-close">×</button>
                <div class="container-fluid">
                  <div class="row no-mg">
                    <div class="col-md-6">
                      <div class="team-profile-photo">
                        <img src="images/team/grat.jpg">
                      </div>
                    </div><!-- .col  -->

                    <div class="col-md-6">
                      <div class="team-profile-info">
                        <h3 class="name">Grat Bodkin</h3>
                        <p class="sub-title">Lead Developer</p>
                        <p>From the logic on high speed digital hardware, all the time way up to doing web app front ends, Grat (aka Tim) is no stranger to creating simple, scalable solutions.</p>

                        <p>Grat is developing our highly modular, fully tested smart contracts for managing milestones and secure transfers.</p>

                        <p>His past experience includes creating firmware, real-time audio application programming, and hybrid app development.</p>
                      </div>
                    </div><!-- .col  -->

                  </div><!-- .row  -->
                </div><!-- .container  -->
              </div><!-- .team-profile  -->

            </div>
          </div><!-- .col  -->

          <div class="col-lg-4 col-md-6">
            <div class="team-circle">
              <div class="team-photo">
                <img src="images/team/joshua.jpg">
                <a href="#team-profile-6" class="expand-trigger content-popup"></a>
              </div>
              <div class="team-info">
                <h5 class="team-name">Joshua Mezher</h5>
                <span class="team-title">Business Development</span>
              </div>

              <!-- Start .team-profile  -->
              <div id="team-profile-6" class="team-profile mfp-hide">
                <button title="Close" type="button" class="mfp-close">×</button>
                <div class="container-fluid">
                  <div class="row no-mg">

                    <div class="col-md-6">
                      <div class="team-profile-photo">
                        <img src="images/team/joshua.jpg">
                      </div>
                    </div><!-- .col  -->

                    <div class="col-md-6">
                      <div class="team-profile-info">
                        <h3 class="name">Joshua Mezher</h3>
                        <p class="sub-title">Business Development</p>
                        <ul class="tpi-social">
                          <li><a href="#"><em class="fa fa-facebook"></em></a></li>
                          <li><a href="#"><em class="fa fa-twitter"></em></a></li>
                        </ul>
                        <p>Text here.... </p>
                        <p>Some text here</p>
                      </div>
                    </div><!-- .col  -->

                  </div><!-- .row  -->
                </div><!-- .container  -->
              </div><!-- .team-profile  -->
            </div>
          </div><!-- .col  -->

          <div class="col-lg-4 col-md-6 offset-md-3 offset-lg-0">
            <div class="team-circle">
              <div class="team-photo">
                <img src="images/team/piers.jpg">
                <a href="#team-profile-7" class="expand-trigger content-popup"></a>
              </div>
              <div class="team-info">
                <h5 class="team-name">Piers Mana </h5>
                <span class="team-title">Systems Architect</span>
              </div>

              <!-- Start .team-profile  -->
              <div id="team-profile-7" class="team-profile mfp-hide">
                <button title="Close" type="button" class="mfp-close">×</button>
                <div class="container-fluid">
                  <div class="row no-mg">

                    <div class="col-md-6">
                      <div class="team-profile-photo">
                        <img src="images/team/piers.jpg">
                      </div>
                    </div><!-- .col  -->

                    <div class="col-md-6">
                      <div class="team-profile-info">
                        <h3 class="name">Piers Mana</h3>
                        <p class="sub-title">Systems Architect</p>
                        <ul class="tpi-social">
                          <li><a href="https://twitter.com/piersmana"><em class="fa fa-twitter"></em></a></li>
                          <li><a href="https://github.com/piersmana"><em class="fa fa-github"></em></a></li>
                        </ul>
                        <p>With an exceptional record of academic and professional achievement, Piers brings a lifetime of diverse tech experience to the development team.</p>
                        <p>Piers is designing the "middle" of our solution, a user (and machine) friendly web interface to the blockchain.</p>
                        <p>Past experience in game development, enterprise technology consulting, and data systems.</p>
                      </div>
                    </div><!-- .col  -->

                  </div><!-- .row  -->
                </div><!-- .container  -->
              </div><!-- .team-profile  -->

            </div>
          </div><!-- .col  -->
        </div><!-- .row  -->
      </div><!-- .col  -->
    </div><!-- .row  -->

    <div class="row">
      <div class="col-md-12">
        <div class="gaps size-2x"></div>
        <h3 class="sub-heading ucap">Advisors</h3>
        <div class="gaps size-2x"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-10 offset-md-1">
        <div class="row text-center">

          <div class="col-lg-4 col-md-6">
            <div class="team-circle">
              <div class="team-photo">
                <img src="images/team/joshua.jpg">
                <a href="#team-profile-5" class="expand-trigger content-popup"></a>
              </div>
              <div class="team-info">
                <h5 class="team-name">David Drake</h5>
                <span class="team-title">Board Advisor</span>
              </div>

              <!-- Start .team-profile  -->
              <div id="team-profile-5" class="team-profile mfp-hide">
                <button title="Close" type="button" class="mfp-close">×</button>
                <div class="container-fluid">
                  <div class="row no-mg">
                    <div class="col-md-6">
                      <div class="team-profile-photo">
                        <img src="images/team/joshua.jpg">
                      </div>
                    </div><!-- .col  -->

                    <div class="col-md-6">
                      <div class="team-profile-info">
                        <h3 class="name">David Drake</h3>
                        <p class="sub-title">Board Advisor</p>
                        <ul class="tpi-social">
                          <li><a href="#"><em class="fa fa-facebook"></em></a></li>
                          <li><a href="#"><em class="fa fa-twitter"></em></a></li>
                          <li><a href="#"><em class="fa fa-google-plus"></em></a></li>
                          <li><a href="#"><em class="fa fa-instagram"></em></a></li>
                        </ul>
                        <p>He is a great man to work Lorem ipsum dolor sit amet, consec tetur adipis icing elit. Simi lique, autem. </p>
                        <p>Tenetur quos facere magnam volupt ates quas esse Sedrep ell endus mole stiae tates quas esse Sed repell endus molesti aela uda ntium quis quam iusto minima thanks.</p>
                        <div class="skill-bars">
                          <div class="single-skill-bar">
                            <div class="row no-mg">
                              <div class="col-8 no-pd"><span class="skill-title">HTML5</span></div>
                              <div class="col-4 text-right no-pd"><span class="skill-percent">85%</span></div>
                            </div>
                            <div class="skill-bar">
                              <div class="skill-bar-percent gradiant-background" style="width:85%"></div>
                            </div>
                          </div>
                          <div class="single-skill-bar">
                            <div class="row no-mg">
                              <div class="col-8 no-pd"><span class="skill-title">CSS3</span></div>
                              <div class="col-4 text-right no-pd"><span class="skill-percent">90%</span></div>
                            </div>
                            <div class="skill-bar">
                              <div class="skill-bar-percent gradiant-background" style="width:90%"></div>
                            </div>
                          </div>
                          <div class="single-skill-bar">
                            <div class="row no-mg">
                              <div class="col-8 no-pd"><span class="skill-title">Java</span></div>
                              <div class="col-4 text-right no-pd"><span class="skill-percent">75%</span></div>
                            </div>
                            <div class="skill-bar">
                              <div class="skill-bar-percent gradiant-background" style="width:75%"></div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div><!-- .col  -->

                  </div><!-- .row  -->
                </div><!-- .container  -->
              </div><!-- .team-profile  -->

            </div>
          </div><!-- .col  -->

          <div class="col-lg-4 col-md-6">
            <div class="team-circle">
              <div class="team-photo">
                <img src="images/team/joshua.jpg">
                <a href="#team-profile-8" class="expand-trigger content-popup"></a>
              </div>
              <div class="team-info">
                <h5 class="team-name">Julian Paten</h5>
                <span class="team-title">Board Advisor</span>
              </div>

              <!-- Start .team-profile  -->
              <div id="team-profile-8" class="team-profile mfp-hide">
                <button title="Close" type="button" class="mfp-close">×</button>
                <div class="container-fluid">
                  <div class="row no-mg">

                    <div class="col-md-6">
                      <div class="team-profile-photo">
                        <img src="images/team/joshua.jpg">
                      </div>
                    </div><!-- .col  -->

                    <div class="col-md-6">
                      <div class="team-profile-info">
                        <h3 class="name">Julian Paten</h3>
                        <p class="sub-title">Board Advisor</p>
                        <ul class="tpi-social">
                          <li><a href="#"><em class="fa fa-facebook"></em></a></li>
                          <li><a href="#"><em class="fa fa-twitter"></em></a></li>
                          <li><a href="#"><em class="fa fa-google-plus"></em></a></li>
                          <li><a href="#"><em class="fa fa-instagram"></em></a></li>
                        </ul>
                        <p>He is a great man to work Lorem ipsum dolor sit amet, consec tetur adipis icing elit. Simi lique, autem. </p>
                        <p>Tenetur quos facere magnam volupt ates quas esse Sedrep ell endus mole stiae tates quas esse Sed repell endus molesti aela uda ntium quis quam iusto minima thanks.</p>
                        <div class="skill-bars">
                          <div class="single-skill-bar">
                            <div class="row no-mg">
                              <div class="col-8 no-pd"><span class="skill-title">HTML5</span></div>
                              <div class="col-4 text-right no-pd"><span class="skill-percent">85%</span></div>
                            </div>
                            <div class="skill-bar">
                              <div class="skill-bar-percent gradiant-background" style="width:85%"></div>
                            </div>
                          </div>
                          <div class="single-skill-bar">
                            <div class="row no-mg">
                              <div class="col-8 no-pd"><span class="skill-title">CSS3</span></div>
                              <div class="col-4 text-right no-pd"><span class="skill-percent">90%</span></div>
                            </div>
                            <div class="skill-bar">
                              <div class="skill-bar-percent gradiant-background" style="width:90%"></div>
                            </div>
                          </div>
                          <div class="single-skill-bar">
                            <div class="row no-mg">
                              <div class="col-8 no-pd"><span class="skill-title">Java</span></div>
                              <div class="col-4 text-right no-pd"><span class="skill-percent">75%</span></div>
                            </div>
                            <div class="skill-bar">
                              <div class="skill-bar-percent gradiant-background" style="width:75%"></div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div><!-- .col  -->

                  </div><!-- .row  -->
                </div><!-- .container  -->
              </div><!-- .team-profile  -->
            </div>
          </div><!-- .col  -->

          <div class="col-lg-4 col-md-6 offset-md-3 offset-lg-0">
            <div class="team-circle">
              <div class="team-photo">
              <img src="images/team/joshua.jpg">
                <a href="#team-profile-9" class="expand-trigger content-popup"></a>
              </div>
              <div class="team-info">
                <h5 class="team-name">Jaxon Kilburn</h5>
                <span class="team-title">Board Advisor</span>
              </div>

              <!-- Start .team-profile  -->
              <div id="team-profile-9" class="team-profile mfp-hide">
                <button title="Close" type="button" class="mfp-close">×</button>
                <div class="container-fluid">
                  <div class="row no-mg">

                    <div class="col-md-6">
                      <div class="team-profile-photo">
                        <img src="images/team/joshua.jpg">
                      </div>
                    </div><!-- .col  -->

                    <div class="col-md-6">
                      <div class="team-profile-info">
                        <h3 class="name">Jaxon Kilburn</h3>
                        <p class="sub-title">Board Advisor</p>
                        <ul class="tpi-social">
                          <li><a href="#"><em class="fa fa-facebook"></em></a></li>
                          <li><a href="#"><em class="fa fa-twitter"></em></a></li>
                          <li><a href="#"><em class="fa fa-google-plus"></em></a></li>
                          <li><a href="#"><em class="fa fa-instagram"></em></a></li>
                        </ul>
                        <p>He is a great man to work Lorem ipsum dolor sit amet, consec tetur adipis icing elit. Simi lique, autem. </p>
                        <p>Tenetur quos facere magnam volupt ates quas esse Sedrep ell endus mole stiae tates quas esse Sed repell endus molesti aela uda ntium quis quam iusto minima thanks.</p>
                        <div class="skill-bars">
                          <div class="single-skill-bar">
                            <div class="row no-mg">
                              <div class="col-8 no-pd"><span class="skill-title">HTML5</span></div>
                              <div class="col-4 text-right no-pd"><span class="skill-percent">85%</span></div>
                            </div>
                            <div class="skill-bar">
                              <div class="skill-bar-percent gradiant-background" style="width:85%"></div>
                            </div>
                          </div>
                          <div class="single-skill-bar">
                            <div class="row no-mg">
                              <div class="col-8 no-pd"><span class="skill-title">CSS3</span></div>
                              <div class="col-4 text-right no-pd"><span class="skill-percent">90%</span></div>
                            </div>
                            <div class="skill-bar">
                              <div class="skill-bar-percent gradiant-background" style="width:90%"></div>
                            </div>
                          </div>
                          <div class="single-skill-bar">
                            <div class="row no-mg">
                              <div class="col-8 no-pd"><span class="skill-title">Java</span></div>
                              <div class="col-4 text-right no-pd"><span class="skill-percent">75%</span></div>
                            </div>
                            <div class="skill-bar">
                              <div class="skill-bar-percent gradiant-background" style="width:75%"></div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div><!-- .col  -->

                  </div><!-- .row  -->
                </div><!-- .container  -->
              </div><!-- .team-profile  -->

            </div>
          </div><!-- .col  -->
        </div><!-- .row  -->
      </div><!-- .col  -->
    </div><!-- .row  -->
  </div>
</div>
