<!-- <script src="https://www.gstatic.com/firebasejs/4.9.1/firebase.js"></script>
    <script>
        // Initialize Firebase
        var config = {
            apiKey: "AIzaSyDIHENyhaiPYw1q3nSIILffLrNUT3BwU4M",
            authDomain: "crown.royaltyrewards.io",
            databaseURL: "https://crown-royaltyrewards.firebaseio.com",
            projectId: "crown-royaltyrewards",
            storageBucket: "crown-royaltyrewards.appspot.com",
            messagingSenderId: "701756163369"
        };
        firebase.initializeApp(config);
        window.firebase = firebase;
    </script> -->
<header class="header"></header>
<div class="d-flex align-items-stretch main">
  <div class="page-content">
    <div class="page-header no-margin-bottom">
      <div class="container-fluid">
        <h2 class="h5 no-margin-bottom">DASHBOARD</h2>
      </div>
    </div>
  </div>
</div>
